.xray-toolbar {
    position: fixed;
    top: 0;
    right: 15px;
    z-index: 99999;
}

.xray-toggle {
    border: none;
    background: #0077dd;
    padding: 3px 7px;
    font-size: 12px;
    color: #fff;
    outline: none;
    text-transform: uppercase;
}

.xray .xray-label {
    display: none;
    visibility: hidden;
}

.xray-visible {
    border: 2px solid rgb(41, 128, 185) !important;
    position: relative;
}

.xray-visible .xray-label-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(8, 66, 134, 0.42);
    display: block;
    visibility: visible;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: border 500ms;
    -moz-transition: border 500ms;
    transition: border 500ms;
}

.xray-visible .xray-label-container.xray-active {
    background-color: rgba(8, 66, 134, 0.13);
}

.xray-visible .xray-label-container.xray-inactive {
    background-color: rgba(8, 66, 134, 0.42);
}

.xray-visible .xray-label-container .xray-label{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 1.4rem !important;
    font-weight: 400 !important;
    padding: 3px 7px;
    background-color: rgba(41, 128, 185, 0.42);
    color: #FFFFFF;
    text-align: center;
    text-transform: none !important;
    letter-spacing: 0.02rem !important;
}

.xray-visible .xray-label-container.xray-active .xray-label{
    font-size: 1.7rem !important;
    background-color: rgba(41, 128, 185, 0.9);
}

.xray-visible .xray-label-container.xray-inactive .xray-label{
    font-size: 1.4rem !important;
    background-color: rgba(41, 128, 185, 0.42);
}
.xray-visible .xray-label-container .xray-label .xray-extra,
.xray-visible .xray-label-container.xray-inactive .xray-label .xray-extra {
    display: none;
}

.xray-visible .xray-label-container.xray-active .xray-label .xray-extra {
    display: block;
    position: absolute;
    top: 3.3em;
    left: 7px;
    background-color: rgb(243,253,243);
    border: 1px solid rgb(255,255,255);
    color: rgba(41, 128, 185, 0.9);
    font-weight: 400 !important;
    padding: 7px 14px 9px;
    min-width: 200px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: left !important;
    font-size: 1.2rem !important;
}

.xray-visible .xray-label-container.xray-active .xray-label .xray-extra .xray-extra-devider {
    padding: 4px 0;
    font-weight: 700 !important;
    font-size: 1.4rem;
}

.xray-visible .xray-label-container.xray-active .xray-label .xray-extra .xray-extra-devider .xray-extra-value {
    padding: 0 5px;
    font-weight: 400 !important;
}

.xray-visible .xray-label-container.xray-active .xray-label .xray-extra .xray-extra-devider .xray-extra-value .xray-keyName {
    color: rgb(21, 138, 165);
    font-weight: 500 !important;
    font-size: 1.3rem;
}

.xray-visible .xray-label-container.xray-active .xray-label .xray-extra .xray-extra-devider .xray-extra-value:nth-of-type(odd) {
    background-color: rgba(223,233,223,.4);
    border-bottom: 1px solid rgb(200,223,233);
    padding: 2px 4px;
}
.xray-visible .xray-label-container.xray-active .xray-label .xray-extra .xray-extra-devider .xray-extra-value:nth-of-type(even) {
    background-color: rgba(203,213,203,.4);
    border-bottom: 1px solid rgb(200,223,233);
    padding: 2px 4px;
}

.xray-visible .xray-label-container.xray-active .xray-label .xray-extra:before {
    content: ' ';
    position: absolute;
    top: -9px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid rgb(243,253,243);
}

.xray-visible .xray-label-container .xray-label {
    position: absolute;
    top: 0;
    left: 0;
}
